*{
    font-family: Hack, monospace, 'Times New Roman';
    color: #4eabff;
}

body {
    background: #0B0C0D;
    margin: 0;
}

/*bruges til elementerne i grid opføre sig som de skal, samt de for transition to på deres transform:hover senere i mediaquaryet*/
.griditem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 500ms;
    max-width: 80%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
 }

 header{
     display: flex;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 .navList {
     list-style: none;
     margin-left: auto;
     margin-right: auto;
 }

 li {
     padding: 2%;
 }

 .showcase {
     margin-top: 5rem;
     margin-left: auto;
     margin-right: auto;
 }

 .listitem {
    text-decoration: none;
    color:  #9dbf54;
    }

/*Bruges til at gøre navbaren responsiv samt underline når du er på henholdsvist forside eller cv*/
 .listitem:hover {
    color: #4eabff;
 }

 .listitemActiveSite{
    color: #9dbf54;
 }

 .listitemActiveSite:hover{
     color: #4eabff;
 }

 .cvContent {
     text-align: center;
     margin-top: 5rem;
 }

 .pp {
     width: 10%;
     border-radius: 25px;
 }

 .cvText {
    margin-top: 5rem;
    border: 2px solid #c4c7c6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
 }

 .showcaseText {
     margin-bottom: 5rem;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 footer {
     text-align: center;
     width: 100%;
     padding: 1%;
     color: #9dbf54;
     border: #c4c7c6 1px solid;
     background-color: #5D7A75;
     position: fixed;
     bottom: 0;
 }

 .maillink{
     color: #9dbf54
 }

 @media only screen and (min-width: 850px) {
     /*bruges til at lægge elementer i et responsivt grid*/
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        justify-content: center;
    }
 }

 header{
    /*header der sticker til toppen af siden når der scrolles*/
    position: sticky;
    top: 0;
 }

 /*upscaler elementer i gridet når de holdes over*/
 .griditem:hover {
    transform: scale(1.3);
 }

 .mhanimation {
     margin-top: -13%;
 }