*{
    font-family: Hack, monospace, 'Times New Roman';
}

body {
    background: #e2dfdf;
}

.griditem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 500ms;
    max-width: 80%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
 }

 header{
     display: flex;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 .navList {
     list-style: none;
     margin-left: auto;
     margin-right: auto;
 }

 li {
     padding: 2%;
 }

 .showcase {
     margin-top: 5rem;
     margin-left: auto;
     margin-right: auto;
 }

 .listitem {
    text-decoration: none;
    color: black;
    }

 .listitem:hover {
    color: blue;
 }

 .listitemActiveSite{
    color: black;
 }

 .listitemActiveSite:hover{
     color: blue;
 }

 .cvContent {
     text-align: center;
     margin-top: 5rem;
 }

 .pp {
     width: 10%;
     border-radius: 25px;
 }

 .cvText {
    margin-top: 5rem;
    border: 2px solid black;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

 .showcaseText {
     margin-bottom: 5rem;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 @media only screen and (min-width: 850px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        justify-content: center;
    }
 }

 header{
    position: sticky;
    top: 0;
    background-color: #e2dfdf;
 }

 .griditem:hover {
    transform: scale(1.3);
 }

 .mhanimation {
     margin-top: -13%;
 }